<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="bw-runtime">
<locations>

<location path="/C:/tibco6.5x/bw/6.5/config/drivers/shells/jdbc.oracle.runtime//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/tibco6.5x/bw/6.5/config/drivers/shells/jdbc.oracle.runtime//runtime/plugins" type="Directory"/>
<location path="/C:/tibco6.5x/bw/palettes/auth-lib/1.0//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/tibco6.5x/bw/palettes/auth-lib/1.0//runtime/plugins" type="Directory"/>
<location path="/C:/tibco6.5x/bw/palettes/aws-sdk/1.11//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/tibco6.5x/bw/palettes/aws-sdk/1.11//runtime/plugins" type="Directory"/>
<location path="/C:/tibco6.5x/bw/palettes/awsm/6.3//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/tibco6.5x/bw/palettes/awsm/6.3//runtime/plugins" type="Directory"/>


<location path="C:/tibco6.5x/bw/6.5/system/hotfix/lib/common" type="Directory"/>
<location path="C:/tibco6.5x/bw/6.5/system/lib/common" type="Directory"/>

<location path="C:/tibco6.5x/bw/6.5/system/hotfix/palettes" type="Directory"/>
<location path="C:/tibco6.5x/bw/6.5/system/palettes" type="Directory"/>

<location path="C:/tibco6.5x/bw/6.5/system/hotfix/shared" type="Directory"/>
<location path="C:/tibco6.5x/bw/6.5/system/shared" type="Profile"/>
</locations>
</target>
